@import "fonts";
@import "variables";
@import "normalize";
@import "mixins";
@import "partials/header";
@import "partials/burger-menu";

html {
    scroll-behavior: smooth;
}

.container {
    min-width: 320px;
    min-height: auto;

    @media (min-width: 768px) {
        min-width: 100%;
    }

    @media (min-width: 1200px) {
        margin: 0 auto;
        min-width: 100%;
    }
}
