//fonts
$font-style: "Golos Text", "Arial", sans-serif;
//colors
$main: #003154;
$dark-blue: #174463;
$black: #000103;
$black80: #1e1e1e;
$black70: #404040;
$black60: #888888;
$grey: #8f9090;
$main-grey: #d0d0d0;
$grey30: #e1e1e1;
$grey20: #eaeaea;
$grey10: #f5f5f5;
$gray-blue: #f7f7f8;
$light-blue: #f2f6fb;
$white: #ffffff;
$hover-dark: #013d68;
$hover-bright: #004f87;
$box-shadow: 0 4px 24px rgba(0, 49, 84, 0.05);
// $pressed: #002641;
$focused: #0085ff;
// $error: #ED575D;
